# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite (opcional)
# db.sqlite3

# Django
*.log

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
